<% provide :title, t("page.contact") %>
<h1><%= t"page.contact" %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
<%= link_to t("contact_page"), "https://www.railstutorial.org/contact" %>.
</p>
