<li>
  <%= gravatar_for user, size: Settings.user.gravatar_size_small %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("button.user.delete"), user, method: :delete,
                                  data: { confirm: t("dialog.delete_account_confirm") } %>
  <% end %>
</li>
